.EP_Educandu_Example_Display {}

.EP_Educandu_Example_Editor {

  .container {
    padding: 20px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    background-color: #f7f7f7;
  }
  .col {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  .left {
    width: 48%;
    flex: 1 1 auto;
    border: 1px solid gray;
    border-radius: '6px';
  }
  .right {
    width: 48%;
    padding: 0;
    border: 1px solid gray;
    border-radius: '6px';
  }
  .left + .right {
    margin-left: 1%;
  }

  /* Mobile view */
  @media (max-width: 768px) {
    .left, .right {
      width: 100%; /* Take full width on small screens */
    }
    .left .left {
      width: 100%; /* Ensure columns stack vertically on small screens */
    }
  }

  .box {
    padding: 20px;
    text-align: center;
  }
  .w100 {
    width: 100%;
  }
}
